* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #202124;
  color: white;
}

input, textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid #aaa;
}

.note-app__header .note-app__site-title {
  margin: 8px 0;
  color: white;
  
}

.note-app__header .note-app__archive-page {
  margin: 8px 0;
  color: white;
}

.note-app__header .note-app__archive-page:hover {
  color: rgb(142, 142, 142);
}


.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: 600;
  margin: 16px 0;
  margin-bottom: 24px;
  text-align: center;
}









/* Start adding new notes */

.note-input {
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 48px;
  padding: 0px 24px;
}

.note-input input, .note-input textarea {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 12px;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body {
  min-height: 250px;
}

.note-input button {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 12px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

/* Start adding new notes */







.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
  margin-top: 30px;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  font-weight: 600;
}

.note-item__date {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
}


/* start of detail page */
.note-item__detail-page {
  padding: 48px 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.note-item__detail-page h3 {
  font-size: 36px;
}

.note-item__detail-page .note-item__detail-date {
  font-size: 14px;
}

.note-item__detail-page .note-item__detail-body {
  font-size: 18px;
  margin-top: 18px;
}

/* end of detail page */




/* start of action button */

.note-item__action {
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: fixed;
  bottom: 18px;
  right: 18px;
}

.note-item__delete-button,.note-item__archive-move-button {
  font-size: 36px;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
  border: 2px transparent;
}

.note-item__delete-button .action-icon  {
  color: #ff5f52;
  
}

.note-item__archive-move-button .action-icon {
  color: #fff263;
}

.note-item__archive-move-button .action-icon:hover {
  color: #c49000;
}

.note-item__delete-button .action-icon:hover {
  color: #b00020;
}

/* end of action button */



.note-search input {
  width: 100%;
}




/* start of addNotes button */

.note-item__add-button {
  position: fixed;
  bottom: 18px;
  right: 18px;
  font-size: 42px;
  cursor: pointer;
  margin-left: 10px;
  background-color: transparent;
  border: 2px transparent;
}

.note-item__add-button .add-note__icon {
  color: white;
}

/* end of liker button */








@media only screen and (max-width: 800px) {
  .note-app__header h1 {
    text-align: center;
  }
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
  .note-search input {
    width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search {
    text-align: center;
  }

  .note-search input {
    width: 80%;
  } 
}

@media only screen and (min-width: 1100px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

